._2ajm{color:#929598;line-height:1.8}
._3nnr{position:relative}._3nnv{bottom:-36px;position:absolute;right:0;z-index:1}
.sp_r2HYjaL6HcF_2x{background-image:url(/rsrc.php/v3/ya/r/QYP1-TzLBaQ.png);background-size:33px 54px;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_r2HYjaL6HcF_2x.sx_85d207{width:20px;height:20px;background-position:0 -33px}.sp_r2HYjaL6HcF_2x.sx_ebeb05{background-position:0 0}

#bootloader_blYWx{height:42px;}.bootloader_blYWx{display:block!important;}